/* chart css */
body {
    font-family: "Arial", sans-serif;
}

.bar {
    fill: steelblue;
}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

/* choice buttons */
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
  
  /**********************/
  input {
    margin: .4rem;
  }

.horizontal_band {
  width: 100%;
  height: 33px;
  background: #4CAF50;
  font-size: 18px;
}
  
  